body{
    text-align: center;
    background-image: linear-gradient(to bottom right, blue, cyan);
    background-repeat: no-repeat;
    height: 40rem;
    background-size: cover;
    font-size: 1rem;
    color: blue;
}
h1{
    color: yellow;
    font-family: sans-serif;
    font-weight: lighter;
}
a:hover{
    font-size: 1.2rem;
    color:purple;
}